h1{
    font-size: 40px;
}

#title {
    text-align: center;
    color: #1a8cff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
}

#panel{
    margin: auto;
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    text-align: center;
}

#input-name{
    width: 100%;
    margin: 4px 2px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid red;
}

#input-subject{
    width: 100%;
    margin: 4px 2px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid red;
}

#input-numofquiz{
    width: 100%;
    margin: 4px 2px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid red;
}

#input-answer{
    width: 100%;
    margin: 4px 2px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid red;
    text-transform: uppercase;
}

#button{
    background-color: #1a8cff;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;

}

#label{
    font-size: 18px;
    text-align: left;
    margin: 8px 2px;
}

#time{
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin: 8px 2px;
}

#labelServer{
    font-size: 18px;
    text-align: left;
    margin: 8px 2px;
}

#labelSubject{
    font-size: 18px;
    text-align: left;
    margin: 8px 2px;
}

#labelTime{
    font-size: 18px;
    text-align: left;
    margin: 8px 2px;
}

#quiz{
    margin: 5% 5%;
}

#radio{
    width: 18px;
    height: 18px;
    margin: 5% 5%;
}

.dropbtn {
    background-color: #1a8cff;
    color: white;
    text-align: center;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #1a8cff;
    text-align: center;
}
            
